/* Misc */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.flex-md-nowrap {
    flex-wrap: nowrap !important;
}

.table > tbody > tr {
    cursor: pointer;
}

.table > tbody {
    border-bottom: 2px solid black;
}

.table > tbody > tr:hover {
    --bs-table-bg: #cfe2ff;
    --bs-table-striped-bg: #c5d7f2;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #bacbe6;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #bfd1ec;
    --bs-table-hover-color: #000;
    color: #000;
}

.list-group-item:hover {
    z-index: 2;
    cursor: pointer;
    color: #000000;
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

.accordion-button > .rounded-pill {
    margin-left: 0.5rem;
}

.progress {
    background-color: transparent;
}

.progress-bar.progress-bar-animated {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -ms-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;
}
.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.row {
    align-items: flex-start
}