<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <link rel="icon" type="image/x-icon" href="/prototype/staticype/static/favicon.ico">
    <title>{{l10n .Lang .Title}}</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/custom.css">
</head>
<body class="bg-light">
{{if .Navigation1}}
    {{template "navigation1.gohtml" .}}
{{end}}
<div class="container-fluid">
    <div class="row">
        {{if .Navigation2}}{{template "navigation2.gohtml" .}}{{end}}
        <main class="ms-sm-auto{{if .Navigation2}} col-lg-9 col-xl-10{{end}} mb-2">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
                {{block "options" .}}{{end}}
            </div>

            {{block "content" .}}{{end}}
        </main>
    </div>
</div>
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.bundle.min.js"></script>
<script src="/static/bootstrap-table.min.js"></script>
<script src="/static/feather.min.js"></script>
<script src="/static/custom.js"></script>
</body>
</html>
