{{ template "base.gohtml" . }}
{{ define "content" }}
    {{range $key, $value := .Results}}
        {{if $value}}
            <div class="mb-5">
                <h2>{{l10n $key}}</h2>
                {{template "table.gohtml" $value }}
            </div>
        {{end}}
    {{end}}
{{ end}}