<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>{{if .Title}}{{l10n .Title}}{{end}}</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/custom.css">
</head>
<body class="bg-light">
{{if .Navigation0}}
    {{template "navigation0.gohtml" .}}
{{end}}
<div class="container">
    <div class="row">
        {{if .Navigation1}}
            <div class="col-lg-3 d-lg-block collapse sticky-top" style="top: 68px" id="menu1">
                {{template "navigation1.gohtml" .}}
            </div>
        {{end}}
        <main class="{{if .Navigation1}}col-lg-9 {{end}}ms-sm-auto mb-2">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
                {{block "options" .}}{{end}}
            </div>
            {{block "content" .}}{{end}}
        </main>
    </div>
</div>
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.bundle.min.js"></script>
<script src="/static/bootstrap-table.min.js"></script>
<script src="/static/feather.min.js"></script>
<script src="/static/custom.js"></script>
</body>
</html>