{{range $i, $a := .Navigation2}}
    <li>
        <a href="{{.Path}}" class="nav-link{{if eq $.Path $a.Path}} text-primary{{end}}">
            <span data-feather="{{.Icon}}"></span>
            {{l10n .Name}}
        </a>
    </li>
{{end}}