<div class="card mx-2 bg-light" id="menu2">
    {{range $i, $a := .Navigation2}}
        <li class="border-bottom">
            <a href="{{.Path}}" class="nav-link{{if and $.CurrentNavigation2 (eq $.CurrentNavigation2 $a)}} text-primary{{end}}">
                <span data-feather="{{.Icon}}"></span>
                {{l10n .Name}}
            </a>
        </li>
    {{end}}
</div>