{{range $i, $a := .Navigation2}}
    <li class="ms-4 border-bottom">
        <a href="{{.Path}}"
           class="nav-link{{if and $.CurrentNavigation2 (eq $.CurrentNavigation2 $a)}} text-primary{{end}}">
            <span data-feather="{{.Icon}}"></span>
            {{l10n .Name}}
        </a>
    </li>
{{end}}