/* Misc */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.table > tbody > tr {
    cursor: pointer;
}

.list-group-item:hover {
    z-index: 2;
    cursor: pointer;
    color: #000000;
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

.accordion-button > .rounded-pill {
    margin-left: 0.5rem;
}

.progress {
    background-color: transparent;
}

.progress-bar.progress-bar-animated {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -ms-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

#sidebarMenu{
    margin-top: -5px !important;
}

/*@media (min-width: 992px) {*/
/*    #sidebarMenu{*/
/*        position: fixed;*/
/*    }*/
/*}*/

.sidebar .nav-link .feather {
    margin-right: 4px;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.row {
    align-items: flex-start
}