{{define "content"}}
    <table class="table">
        {{template "table" .}}
    </table>
{{end}}

{{define "options"}}
    <a class="btn btn-success" href="{{.Path}}/new">{{translate "new"}}</a>
{{end}}