{{define "content"}}
<form method="post">
    <input type="hidden" name="Id" value="{{.Data.Id}}"/>
    <label for="Name">Name</label>
    <input type="text" id="Name" name="Name" placeholder="Name" value="{{.Data.Name}}" required/>
    {{template "form" .}}
    <input type="submit" class="btn btn-a btn-sm smooth"/>
</form>
{{end}}

{{define "options"}}
<div class="btn-group me-2">
    {{if not .Data.Id}}
    <button type="button" class="btn btn-sm btn-outline-secondary" href="/admin/tag">Cancel</button>
    {{else}}
    <button type="button" class="btn btn-sm btn-outline-secondary" href="/admin/tag/delete?Id={{.Data.Id}}">Delete</button>
    {{end}}
</div>
{{end}}