{{define "content"}}
    {{if .Parameters.Model}}
        <table class="table">
            {{template "table" .}}
        </table>
    {{else}}
        {{translate "no_records_found"}}
    {{end}}
{{end}}

{{define "options"}}
    <a class="btn btn-sm btn-success" href="{{.Path}}/edit">{{translate "new"}}</a>
{{end}}