{{define "content"}}
    <table class="table">
        {{template "table" .}}
    </table>
{{end}}

{{define "options"}}
    <a class="btn btn-success" href="{{.CurrentPath}}/new"><span data-feather="plus-square"></span> {{translate "new"}}
    </a>
{{end}}