{{define "content"}}
<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
{{end}}

{{define "options"}}
<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
    <span data-feather="calendar"></span>
    {{translate "this_week"}}
</button>
{{end}}