{{define "table"}}
<thead>
<tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
</tr>
</thead>
<tbody>
{{$CurrentPath:=.CurrentPath}}
{{range .Data}}
<tr onclick="window.location.href='{{$CurrentPath}}/edit?Id={{.Id}}';">
    <td>{{.Id}}</td>
    <td>{{.Name}}</td>
    <td>{{.Description}}</td>
</tr>
{{end}}
</tbody>
{{end}}

{{define "form"}}
<label for="Description">Description</label>
<textarea id="Description" name="Description" placeholder="Description">{{.Data.Description}}</textarea>
<label for="Users">{{.Data.Users}}</label>
<select id="Users" name="Users" multiple>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
</select>
{{end}}