{{define "content"}}
<h2>Tags
    <a class="btn btn-b btn-sm smooth right" href="{{.CurrentPath}}/new">New</a>
    <a class="btn btn-a btn-sm smooth right" href="#greeting-modal">Filter</a>
</h2>

<div class="modal-container" id="greeting-modal">
    <div class="modal">
        <form action="{{.CurrentPath}}" method="get">
            <input type="text" name="Search" placeholder="Name"/>
            <input type="submit" class="btn btn-b btn-sm smooth"/>
        </form>
    </div>
    <a href="#" class="modal-bg"></a>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {{$CurrentPath:=.CurrentPath}}
    {{range .Data.Tags}}
    <tr onclick="window.location.href='{{$CurrentPath}}/edit?Id={{.Id}}';">
        <td>{{.Id}}</td>
        <td>{{.Name}}</td>
    </tr>
    {{end}}
    </tbody>
</table>
{{end}}