{{define "table"}}
<thead>
<tr>
    <th>Id</th>
    <th>Name</th>
</tr>
</thead>
<tbody>
{{$CurrentPath:=.CurrentPath}}
{{range .Data}}
<tr onclick="window.location.href='{{$CurrentPath}}/edit?Id={{.Id}}';">
    <td>{{.Id}}</td>
    <td>{{.Name}}</td>
</tr>
{{end}}
</tbody>
{{end}}

{{define "form"}}
<div class="col-12">
    <label for="Name" class="form-label">Name</label>
    <input type="text" class="form-control" name="Name" id="Name" placeholder="Name" value="{{.Data.Name}}" required>
</div>
{{end}}