{{define "content"}}
<h2>
    {{if not .Data.Id}} Create tag {{else}} Edit {{.Data.Name}} {{end}}
    {{if not .Data.Id}} <a class="btn btn-c btn-sm smooth right" href="/admin/tag">Cancel</a> {{else}} <a class="btn btn-c btn-sm smooth right" href="/admin/tag/delete?Id={{.Data.Id}}">Delete</a> {{end}}
</h2>
<form method="post">
    <input type="hidden" name="Id" value="{{.Data.Id}}"/>
    <input type="text" name="Name" placeholder="Name" value="{{.Data.Name}}" required/>
    <input type="submit" class="btn btn-a btn-sm smooth"/>
</form>
{{end}}