{{define "content"}}
<h2>
    {{if not .Data.Id}} Create user {{else}} Edit {{.Data.Name}} {{end}}
    {{if not .Data.Id}} <a class="btn btn-c btn-sm smooth right" href="/admin/user">Cancel</a> {{else}} <a class="btn btn-c btn-sm smooth right" href="/admin/user/delete?Id={{.Data.Id}}">Delete</a> {{end}}
</h2>
<form method="post">
    <input type="hidden" name="Id" value="{{.Data.Id}}"/>
    <input type="text" name="Name" placeholder="Name" value="{{.Data.Name}}" required/>
    <input type="password" name="Password" placeholder="Password" value="{{.Data.Password}}" required/>
    <select name="Admin" required>
        <option value="0" {{if not .Data.Role}} selected {{end}}>Normal</option>
        <option value="1" {{if .Data.Role}} selected {{end}}>Admin</option>
    </select>
    <input type="submit" class="btn btn-a btn-sm smooth"/>
</form>
{{end}}